<div class="card-row">
  <div class="card-col">
    <nb-card>
      <nb-card-body class="toolbar">
        <form [formGroup]="addNewTodoForm" (ngSubmit)="addNewTodoSubmit()">
          <input
            type="text"
            nbInput
            required
            fieldSize="medium"
            placeholder="Title"
            formControlName="title"
          />
          <input
            type="text"
            nbInput
            fieldSize="medium"
            placeholder="Description"
            formControlName="description"
          />

          <nb-select
            placeholder="Priority"
            size="medium"
            formControlName="priority_level"
            [(selected)]="selectedPriorityLevel"
          >
            <nb-option *ngFor="let level of priorityLevels" [value]="level">{{
              level.name
            }}</nb-option>
          </nb-select>
          <button
            nbButton
            size="medium"
            status="success"
            style="float: right"
            type="submit"
            [disabled]="!addNewTodoForm.valid"
          >
            <nb-icon icon="plus"></nb-icon> Add
          </button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="card-row">
  <div class="card-col">
    <nb-card
      accent="danger"
      size="large"
      [nbSpinner]="loading"
      nbSpinnerStatus="success"
      nbSpinnerSize="large"
      nbSpinnerMessage="Loading..."
    >
      <nb-card-header>
        <h5 style="display: inline-flex">Todo List</h5>

        <button
          size="small"
          style="float: right; display: inline-flex"
          nbButton
          status="primary"
          (click)="fetchTodos()"
        >
          <nb-icon icon="refresh"></nb-icon> Refresh
        </button></nb-card-header
      >
      <nb-list>
        <nb-list-item
          class="todo-item"
          *ngFor="let todo of todos"
          [attr.data-id]="todo.id"
          [ngClass]="{ completed: todo.completed }"
        >
          <nb-checkbox
            #checkbox
            (change)="completeTask($event, todo)"
            [checked]="todo.completed"
            >{{ todo.title }}
          </nb-checkbox>
          <button nbButton size="small" [nbContextMenu]="contextItems" nbContextMenuTag="action-context-menu-{{todo.id}}">
            <nb-icon icon="more-vertical-outline"></nb-icon>
          </button>
        </nb-list-item>
      </nb-list>
      <nb-card-footer> Items Count: {{ todos.length }} </nb-card-footer>
    </nb-card>
  </div>
</div>
