.toolbar {

  align-items: center;
}

.toolbar button {
  margin: 0 10px;
}

.toolbar button:first-of-type {
  margin-left: 0;
}

.toolbar button:last-of-type {
  margin-right: 0;
}

.toolbar input {
  margin: 0 10px;
}

.completed {
  -webkit-text-decoration-line: line-through;
  /* Safari */
  text-decoration-line: line-through;
  background-color: rgb(229, 230, 233);
}

.todo-item {
  justify-content: space-between;
}
